@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="display: grid; grid-template-columns: 49.5% 1% 49.5%">
    <textarea id="inputarea"></textarea>
    <div></div>
    <p id="outputarea" style="word-wrap: break-word; white-space: pre-wrap; "></p>
</div>
<script>
    $('#inputarea').on('input', function () {
        var url = 'https://' + document.location.host + '/Translate/';

        $.ajax({
            data: $('#inputarea').val(),
            url: url,
            dataType: 'html',
            method: 'POST',
            success: function (data) {
                $('#outputarea').html(data);
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                msg += ' connect with boss.gavrilenko@bk.ru';
                alert(msg);
            },
        });
        
     });
</script>
